<div class="devise_wrapper">
	<h2>Resend unlock instructions</h2>
	<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
		<%= devise_error_messages! %>
		<div>
			<%= f.label :email, :class => 'field_label' %>
			<%= f.email_field :email %>
		</div>
		<div>
			<%= f.submit 'Resend unlock instructions', :id => 'resend_unlock_instructions' %>
		</div>
	<% end %>
	<%= render 'devise/shared/links' %>
</div>
