<h1>Listing Todos</h1>

<% unless @todos.empty? %>
<table class="data_table" cellpadding="0" cellspacing="0">
	<% @todos.each do |todo| %>
	<tr>
		<td><%= todo.summary %></td>
		<td>
			<%= link_to 'Show', todo_path(todo) %> |
			<%= link_to 'Edit', edit_todo_path(todo) %> |
			<%= link_to 'Done', mark_completed_todo_path(todo), method: :post, data: { confirm: 'Are you sure?' } %> |
			<%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>

<%= link_to 'Create new', new_todo_path %>
