<h1>Todos</h1>

<div class="container">
	<table class="list" cellpadding="0" cellspacing="0">
	<% @todos.each do |todo| %>
		<%= form_for todo do |form| %>
		<tr>
			<td><%= check_box 'todo', 'completed', { :disabled => todo.new_record? || todo.completed_at, :onchange => 'this.form.submit();' } %></td>
			<td></td>
			<td><%= form.text_field :summary, { :autocomplete => 'off', :readonly => todo.completed_at } %></td>
		</tr>
		<% end %>
	<% end %>
	</table>
</div>

<ul class="tabs">
	<li class="<%= @view_completed ? '' : 'selected' %>"><%= link_to 'New', todos_path(:view => 'new') %></li>
	<li class="<%= @view_completed ? 'selected' : '' %>"><%= link_to 'Completed', todos_path(:view => 'completed') %></li>
</ul>
